services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: expensify
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

  mailpit:
    image: axllent/mailpit
    ports:
      - "${HTTP_MAIL_PORT:-8025}:8025"
      - "${SMTP_MAIL_PORT:-1025}:1025"
    restart: unless-stopped

volumes:
  postgres-data:
